.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #6C757D;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  border-top: 3px solid #CB202D;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
}

.address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.homeTitle{
  font-size: 50px;
  color: white;
  border-left: 6px solid #6C757D;
  padding-left: 10px; 
  padding-bottom: 8px;
}

p{
  color: #E9ECEF;
  padding-left: 15px;
}

.header{
  background-image: url('headerBack.jpg');
  background-size: 100% 100%;
}

body{
  background-color: black;
}

.redColor{
  color: #CB202D;
}

.whiteColor{
  color: white;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
   
  .video-container iframe,
  .video-container object,
  .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

  .navbar{
    border-bottom: 3px solid #CB202D;
  }

  .form-control{
    background-color: #6C757D;
    border-color: #6C757D;
    border-radius: 0.05rem;
  }
  .form-control:focus { 
    background-color: #6C757D;
    border-color: #CB202D;
    border-width: 2px;
    box-shadow: none;
  }
  label{
    border-left: 5px solid #CB202D;
  }

  .contactRow{
    border-bottom: 0px;
  }


  .hex-wrap {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .hexagon {
    background-color: #CB202D;
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;
  }
  .hexagon:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);
}
.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
}

.hexaicon{
  position: absolute;
    top: 20px;
    font-size: 34pt;
    color: #fff;
    left: 0;
    right: 0;
    z-index: 1;
}